.container{
    position: absolute;
    right: 120px;
    top: 48px;
    border-radius: 20px;
    border: 1px solid var(--primary);
    background-color: var(--white);
    height: 150px;
    width: 150px;

    .item{
        height: 40px;
        &:hover{
            background-color: var(--primary);
            color: var(--white);
            cursor: pointer;
        }
    }

    .item_top{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
}