.header{
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: var(--white);

    .logo{
        color: var(--black);
    }

    .start{
        width: 100%;
        i{
            font-size: 25px;
            margin: 12px;
        }
    }
    .center{
        width: 100%;
        input{
            padding: 5px 15px;
            border-radius: 20px;
            transition: 0.2s opacity;
        }
    }
    .end{
        width: 100%;
        .ellipsis{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 100px;
            &:hover{
                background-color: var(--gray-1);
            }
        }

        i{
            font-size: 25px;
        }
    }
}