img{
    width: 100%;
    border-radius: 5%;
}

i{
    margin-left: 50%;
    z-index: 2;
    &:hover{
        color: var(--primary);
    }
}

.card{
    min-width: 250px;
    margin: 10%;
    transition: 1s transform;
    &:hover{
        transform: scale(1.2);
        cursor: pointer;
    }
}

.title{
    margin-left: 3%;
}

.date{
    color: var(--gray-1);
    margin: 0;
    font-size: 14px;
    margin-left: 3%;
}

.localisation{
    margin-left: 3%;
}