.name{
    width: 80%;
    padding: 15px;
}

.item{
    &:hover{
        background-color: var(--gray-1);
    }
}

.detail{
    cursor: pointer;
    &:hover{
        color: var(--gray-2);
    }
}

.delete{
    cursor: pointer;
    &:hover{
        color: var(--error);
    }
}